body {
  font: 14px Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow:none;
}

a {
  color: #00B7FF;
}

#container-mobile {
  width:100%;
  height:100%;
}

#container-mobile-map {
  display:block;
  width:100%;
  height:100%;
  background-attachment:fixed;
}

#container-mobile-header {
  background-color:rgb(41,41,41);
  position:fixed;
  width:100%;
  top:0;
}

#container-mobile-header .address-lookup {
  background-color:rgb(28,28,28);
  margin:8px;
  height:24px;
  font-size:14px;
  line-height:14px;
  color:rgb(201,201,201);
  width:70%;
  border:none;
}

#container-mobile-header .address-geolocate {
  float:right;
  margin:5px;
}

#container-mobile-header .address-geolocate img {
  height:30px;
  width:30px;
}

#container-mobile-data {
  display:none;
}

#container-mobile-footer {
  width:100%;
  position:fixed;
  bottom:0;
}

#container-mobile-footer .mobile-button {
  width:33.333333%;
  float:left;
  text-align:center;
  border:none;
  cursor:pointer;
}


#container-mobile-footer .mobile-button img {
  height:30px;
  padding:10px 0px;
}

#container-mobile-footer .mobile-button.metro {
  background-color:rgb(41,41,41);
  border-top:8px solid rgb(93,93,93);
}

#container-mobile-footer .mobile-button.bus {
  background-color:rgb(28,28,28);
  border-top:8px solid rgb(38,100,187);
}

#container-mobile-footer .mobile-button.bikeshare {
  background-color:rgb(14,14,14);
  border-top:8px solid rgb(138,0,14);
}

.metro-container {
  padding-top:70px;
}

.metro-station-small{
	background-color:#252525;
	border-radius: 4px;
	padding:10px;
	box-shadow:0px 5px 0px black;
	margin:0px auto;
	width:320px;
}

.station-location{
	font-family:Helvetica, Arial, sans-serif;
	font-size:25px;
	color:white;
}

.station-minutes{
	color:#5d6060;
	font-size:15px;
	font-style: italic;
	padding-bottom:10px;
}

.train-destination {
  width:180px;
}

.bikeshare-container .station-minutes{
	color:#931605;
	font-size:12px;
	font-style: italic;
	margin-left:56px;
}

.metro-train{
	display:block;
	padding-bottom:15px;
}

.train-minutes{
	color:#686868;
}


.train-color{
	float:left;
	padding-right:10px;
}

.metro-station-trains{
	margin-top:20px;
	font-size:20px;
	color:white;
	border-bottom:3px solid #2a2b2b;
}

.metro-train * {
	display: inline-block;
}

.bus-container {
  padding-top:70px;
}

.bus-station-small{
	background-color:#2f7ac7;
	border-radius: 4px;
	padding:10px;
	box-shadow:0px 5px 0px #044e86;
	margin:0px auto;
	font-family:Helvetica, Arial, sans-serif;
	font-size: 18px;
	color:white;
	width:320px;
}

.bus-route-id{
	width:40px;
	font-size:30px;
	color:white;
	font-weight: bold;
	display:inline-block;
	vertical-align:top;
}

.bus-route-directions {
  display:inline-block;
  width:260px;
  overflow:hidden;
}

.bus-route-minutes{
	color:#044e86;
}

.bus-route-info {
  padding-bottom:7px;
  border-bottom:2px solid #54ade3;
  padding-top:9px;
}

.bus-route-text{
	width:180px;
	font-size:16px;
}

.bus-route-direction *{
	display: inline-block;
}

.bikeshare-container {
  padding-top:70px;
}

.bikeshare-station{
	background-color:#bb360c;
	border-radius: 4px;
	padding:10px;
	box-shadow:0px 5px 0px #a12b06;
	margin:0px auto;
	font-family:Helvetica, Arial, sans-serif;
	font-size: 20px;
	color:white;
	width:320px;
	border-bottom:2px solid #931605;
}

.station-chart{
	display: inline-block;
	width:50px;
	vertical-align:top;
}

.station-bikes{
	color:white;
	font-weight: bold;
	font-size: 20px;
	display:inline-block;
	width:30px;
	vertical-align:top;
}

.station-name {
  width:140px;
  font-size:16px;
  display:inline-block;
}

.station-docks{
	color:black;
	font-weight: bold;
	font-size: 20px;
	display:inline-block;
	vertical-align:top;
	width:30px;
}

.bikeshare-station-header  *{
  font-size:10px;
  text-transform:uppercase;
  color:#931605;
  vertical-align:top;
}

.bus-station-small .station-minutes{
	color:#5ea4eb;
	font-size:15px;
	font-style: italic;
}
